<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./head'); %>
    <!--CDN for AJAX and JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"
      integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--External JS-->

    <script type="text/javascript" src="/scripts/like-button.js"></script>

    <script type="text/javascript" src="/scripts/comments-section.js"></script>

    <link rel="stylesheet" href="../public/styles/reviews.css">

</head>

<body>
  <%- include('./header'); %>

  <div id="title">
    <h1 >Resource Review</h1>
  </div>


  <main data-id = "<%= id %>">

     <!--Ratings bar-->
     <div>
      <input type="radio" name="rate" value="1">
      <input type="radio" name="rate" value="2">
      <input type="radio" name="rate" value="3">
      <input type="radio" name="rate" value="4">
      <input type="radio" name="rate" value="5">
    </div>


    <!--Comment-->
    <div>

      <input type="textarea" name="text" id="comment-text">
      <button type="submit" class="comment-submit">Submit</button>

    </div>

    <!--Like button
    <button id="like-button">
      Like
      <output id="like-counter" class="counter-num">
        0
      </output>
    </button>
    -->


    <h4>Comment section</h4>
    <section class="comments-container">
      <div class="p-3">

        <% for (item of reviews) { %>

        <h6>Comment By: <%= name %></h6>


        <%= item.comment %>

        <p><h6>Rating:</h6>
          <%= item.rating %>
        </p>
        <% } %>
      </div>

    </section>

  </main>


</body>

</html>
